<% layout('/layouts/boilerplate') -%>


    <body>
        <h1>Edit Listings</h1>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
            <br><br>
            <input type="text" value="<%= listing.title %>" name="listing[title]">
            <br><br>
            <textarea name="listing[description]"><%= listing.description %></textarea>
            <br><br>
            <input type="number" name="listing[image]" value="<%= listing.image %>">
            <br><br>
            <input type="number" name="listing[price]" value="<%= listing.price %>">
            <br><br>
            <input type="text" name="listing[location]" value="<%= listing.location %>">
            <br><br>
            <input type="text" name="listing[country]" value="<%= listing.country %>">
            <br><br>
            <button class="btn">Edit</button>
        </form>
    </body>