<%- layout("layouts/boilerplate.ejs") %>
    <div class="outer-card ">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>">
                <div class="card col">
                    <img src="<%= listing.image %>" class="card-img-top" style="height: 20rem;" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br>
                            <%= listing.location %>
                            <br> 
                            &#8377;
                            <%= listing.price.toLocaleString("en-IN") %> 
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>