`
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveller</title>
</head>

<body>
    <h2>Listing details</h2>
    <ul>
        <li>
            <%= listing.title %>
        </li>
        <li>
            <%= listing.description %>
        </li>
        <li>
            &#8377;
            <%=  listing.price.toLocaleString("en-IN") %>
        </li>
        <li>
            <%= listing.location %>
        </li>
        <li>
            <%= listing.country %>
        </li>
        <br><br>
        <h3> <a href="/listings/<%= listing._id %>/edit"> Edit this listing </a></h3>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
            <button>
                delete Listing
            </button>
        </form>

    </ul>
</body>

</html>